@page "/counter"
@using Liberos.Api.Services
@rendermode InteractiveServer
@inject ContentService ContentService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Mostra o conteúdo: @_content</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="mt-3">
    <input @bind="@text" @bind:event="oninput" @bind:after="Search">
    <button @onclick="OnClick">Clear</button>
    <p>@text</p>
    <p>@searchResult</p>
</div>

@code {
    private string _content = "";
    string text = "";
    string searchResult = "";

    private void IncrementCount()
    {
        var content = ContentService.GetContentById(1);
        _content = content.ContentText;
    }

    private void OnClick(MouseEventArgs obj)
    {
        text = "";
    }

    async Task Search()
    {
        searchResult = "Searching";
        await Task.Delay(2000);
        searchResult = $"Found {Random.Shared.Next()} results!";
    }

}
